@import "_normalize";

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 2rem 0 1.5rem;
    @media all and (min-width: 768px) {
        font-size: 4rem;
        margin: 3rem 0 3rem;
    }
}

.select {
    width: 300px;
    margin: 50px auto;
    @media all and (min-width: 768px) {
        margin: 100px auto;
    }
    text-align: center;

    &-piece {display: none;}

    &-title {
        font-size: 2rem;
        margin-top: 4rem;
    }

    &-label {
        cursor: pointer;
        display: inline-block;
        padding: 5px 10px;
        background: linear-gradient(180deg, #bef, darken(#bef, 10%));
        border-radius: 4px;
        box-shadow: 1px 2px 0 0 #555, 1px 2px 4px 0 #666;
        margin: 0 10px;
    }

    &-label.piece {
        content: '';
        background-size: cover;
        background-color: #efefef;
        width: 50px;
        height: 55px;
        @media all and (min-width: 768px) {
            width: 100px;
            height: 100px;
        }

        &.x-piece {
            background-image: url('http://i.imgur.com/tErcD8f.png');
        }
        &.o-piece {
            background-image: url('http://i.imgur.com/BVPgVak.png');
        }
    }

    &-radio:checked + label {
        box-shadow: inset 1px 1px 8px -2px #888;
        transform: translate(1px, 2px);
        background-color: #ddd;

        &.opponent {
            background: none;
            background-color: #ddd;
        }
    }

    & .start {
        display: none;
        margin: 30px auto;
        border: none;
        border-radius: 4px;
        background: linear-gradient(180deg, #bfff80, darken(#bfff80, 15%));
        box-shadow: 1px 2px 0 0 #555, 1px 2px 4px 0 #666;
        font-size: 2rem;
        padding: 10px 15px;

        &:active {
            box-shadow: none;
            transform: translate(1px, 2px);
        }
    }
}

.modal {
    display: none;
    text-align: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    border: 5px solid #444;
    border-top: none;
    background-color: #bef;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    &-button {
        margin: 1rem auto;
        display: block;
        padding: 5px 10px;
        border-radius: 4px;
        border: none;
        box-shadow: 1px 2px 0 0 #555, 1px 2px 4px 0 #666;

        &:active {
            box-shadow: none;
            transform: translate(1px, 2px);
        }
    }
}

.game {
    display: none;
    width: 300px;
    margin: auto;
    @media all and (min-width: 768px) {
        width: 600px;
    }

    h3 {
        margin: 0 0 1rem 0;
        text-align: center;
    }
}

.gameBoard {
    margin: 20px auto;
    border-collapse: collapse;
}

.square {
    box-sizing: border-box;
    border: 5px solid #000;
    padding: 15px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    @media all and (min-width: 768px) {
        width: 200px;
        height: 200px;
    }

    &.sq1 {
        border-top: none;
        border-left: none;
    }
    &.sq2 {
        border-top: none;
    }
    &.sq3 {
        border-top: none;
        border-right: none;
    }
    &.sq4 {
        border-left: none;
    }
    &.sq6 {
        border-right: none;
    }
    &.sq7 {
        border-left: none;
        border-bottom: none;
    }
    &.sq8 {
        border-bottom: none;
    }
    &.sq9 {
        border-right: none;
        border-bottom: none;
    }
}

.gamePiece {
    background-size: cover;
    content: '';
    cursor: default;

    &.o {
        background-image: url('http://i.imgur.com/BVPgVak.png');
    }

    &.x {
        background-image: url('http://i.imgur.com/tErcD8f.png');
    }
}

.score-home-container {
    margin: 2rem 0 0;
    @media all and (min-width: 768px) {
        margin-top: 4rem;
    }
}

.score-title,
.home {
    vertical-align: middle;
}

.score-title {
    font-size: 1.5rem;
    display: inline-block;
    margin: 0;
    text-align: left;
    @media all and (min-width: 768px) {
        font-size: 2.5rem;
    }
}

.home {
    float: right;
    border-radius: 5px;
}

.scoreBoard {
    text-align: center;
    margin: 0;
    @media all and (min-width: 768px) {
        margin-top: 15px;
    }
}

.player-info {
    display: block;
    font-size: 1.1rem;
    @media all and (min-width: 768px) {
        font-size: 2rem;
    }

    & td {
        padding: 2px 10px 2px 0;
        @media all and (min-width: 768px) {
            padding: 5px 15px 5px 0;
        }
    }

    &-score {
        text-align: left;
        width: 40px;
    }

    &-name {
        display: inline-block;
        text-align: left;
        width: 250px;
        border: none;
        cursor: pointer;
    }
}
