extends layout

block content
    h1 Tic-Tac-Toe
    #select.select
        #select-opponent.select-opponent
            h2.select-title Opponent
            input#human.select-radio.visuallyhidden(type='radio', name='opponent', value='human')
            label.select-label.opponent(for='human') Human
            input#computer.select-radio.visuallyhidden(type='radio', name='opponent', value='computer')
            label.select-label.opponent(for='computer') Computer
        #select-piece.select-piece
            h2.select-title Your Piece
            input#x-piece.select-radio.visuallyhidden(type='radio', name='choose-piece', value='x-piece')
            label.select-label.piece.x-piece(for='x-piece')
            input#o-piece.select-radio.visuallyhidden(type='radio', name='choose-piece', value='o-piece')
            label.select-label.piece.o-piece(for='o-piece')
        button#start.start START
    #modal.modal
        h2#modalWinner.modal-winner
        button#modalButton.modal-button Play Again
    #game.game
        h3 Turn:
            span#turn
        table#gameBoard.gameBoard
            tr.row
                td#square1.square.sq1
                td#square2.square.sq2
                td#square3.square.sq3
            tr.row
                td#square4.square.sq4
                td#square5.square.sq5
                td#square6.square.sq6
            tr.row
                td#square7.square.sq7
                td#square8.square.sq8
                td#square9.square.sq9
        .score-home-container
            h2.score-title Score
            button#home.home Home
        table#scoreBoard.scoreBoard
            tr.player-info
                td#p1score.player-info-score 0
                td
                    input#player1.player-info-name(type='text', onclick='this.select()', value='Player1', autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false')
            tr.player-info
                td#p2score.player-info-score 0
                td
                    input#player2.player-info-name(type='text', onclick='this.select()', value='Player2', autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false')
